<IfModule mod_mime.c>
AddType application/octet-stream .wpress
</IfModule>
<IfModule mod_dir.c>
DirectoryIndex index.php
</IfModule>
<IfModule mod_autoindex.c>
Options -Indexes
</IfModule>

php_value upload_max_filesize 1040M
php_value post_max_size 1040M
php_value memory_limit 1040M
php_value max_execution_time 1000
php_value max_input_time 1000